aiosqlite
astroid
beautifulsoup4
BiblioPixelAnimations
BiblioPixelAnimations
BiblioPixelTriggers
certifi
chardet
Click
croniter
Flask
gitdb2
GitPython
idna
isort
itsdangerous
Jinja2
lazy-object-proxy
loady
MarkupSafe
mccabe
numpy
olefile
Pillow
pylint
pyserial
python-dateutil
PyYAML
requests
six
smmap2
soupsieve
urllib3
websockets
Werkzeug
wrapt
spidev 
python-periphery
rpi-ws281x
